.headerXL {
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 2px;
}

.highlight {
  border-bottom: 5px solid #EEC643;
  padding: 0 5px;
}

  
.borderCircle {
  border-radius: 100%;
}

.profile_greeting {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.profile_text {
  line-height: 2rem;
  text-align: left;
  width: 100%;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #011638;
  border-bottom: 3px solid rgb(1, 22, 56, 0.6);
  width: fit-content;
}

.bio_bullets {
  display: flex;
}
