.container {
    margin: 0 auto;
}

.container ul {
    background: none;
    display: flex;
    align-items: baseline;
    padding: 0;
}

.container ul li {
    margin: 10px;
    padding: 5px;
    list-style: none;
}

.name {
    font-size: 25px;
    font-weight: 900;
}

.paths {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 40px;
    margin: 0 auto;
    font-size: 16px;
}

/* .paths a:hover {
    border-bottom: 2px solid #0d21a1;
} */
